[user]
	name = wf
	email = willfreyman@gmail.com

[credential]
	helper = osxkeychain

[diff "word"]
	binary = true
	textconv = ~/git_diff/docx-to-txt.rb -t

[diff "zip"]
    binary = True
    textconv = ~/git_diff/git_diff_xlsx.py

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[color "branch"]
    current = green bold
    local = green
    remote = red bold

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red
